body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F8F8FB !important;
}

.page {
  background-color: #F8F8FB !important;
}

/* LANDING PAGE STYLES */

.background {
  background-color: #F8F8FB;
  background-image: url('./img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.landingPage .middleContent {
  width: 80%;
  height: 60%;
  text-align: center;
  margin-top: 5%;
}

.landingPage .middleDivider {
  /* IMAGE STYLE IF WE WANT IT BACK
  background-image: url('./img/middlelogo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;*/

  /* VERTICAL DIVIDER STYLE */
  border-left: 2px solid white;
  height: 70%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 15%;
}

.landingPage .middleContent .row {
  height: 100%;
}

.landingPage .middleContent .sideButton {
  color: white;
  margin-top: 60%;
}

.landingPage .btn {
  margin-top: 10px;
  width: 65%;
  border: 2px solid #ffffff;
  background: none;
  color: white;
  font-weight: lighter;
}

.landingPage .btn:hover {
  margin-top: 10px;
  width: 65%;
  border: 2px solid #ffffff;
  background: white;
  color: black;
  font-weight: lighter;
}

.landingPage .header {
  background: none;
  text-align: center;
  color: white;
  border-bottom: none;
  padding-top: 50px;
}

.header h1 {
  font-size: 5rem;
}

.header h2 {
  font-size: 3rem;
}

.landingPage .card{
  background-color: #ffffff;
  width: 400px;
  min-height: 200px;
  position: absolute;
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.15);
}

.landingPage .card .h2{
  padding: 5%;
}

.landingPage .card .row{
  margin-top: 2%;
  text-align: center;
}

.bottomRight {
  position: fixed;
  bottom: 25px;
  right: 25px;
  color: white;
}

.linkText {
  cursor: pointer;
  text-decoration: underline;
}

/* LOGIN PAGE STYLES */

.background .h3 {
  color: white;
}

.loginPage {
  background-color: #F8F8FB;
  width: 100%;
  height: 100%;
}

.loginPage .card{
  background-color: #ffffff;
  width: 400px;
  min-height: 240px;
  position: absolute;
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 20px;
  box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.15);
}

.loginPage .wrapper{
  width: 30%;
  min-height: 600px;
  padding-top: 100px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginPage .errorMsg {
  margin-top: -10px;
  margin-bottom: 10px;
  height: 10px;
}

.loginPage .errorMsg p{
  color: #cd201f;
  font-size: 0.875rem;
}

.loginPage .ui.button {
  margin-top: 10px;
  width: 65%;
  background-color: #26CB64;
  background-image: linear-gradient(to bottom right, #26CB64, #18d311);
  color: white;
  font-weight: lighter;
  border-radius: 0px;
}

.loginPage .ui.button:hover {
  background-color: #26CB64;
  background-image: linear-gradient(to bottom right, #26CB64, #18d311);
  color: white;
}

.loginPage .ui.button .icon{
  color: white !important;
}

/* REGISTER PAGE STYLES */

.registerPage {
  background-color: #F8F8FB;
  width: 100%;
  height: 100%;
}

.registerPage .card{
  background-color: #ffffff;
  width: 400px;
  min-height: 410px;
  position: absolute;
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 20px;
  margin-top: 85px;
  box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.15);
}

.registerPage .wrapper{
  width: 30%;
  min-height: 600px;
  padding-top: 100px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registerPage .errorMsg {
  margin-top: -10px;
  margin-bottom: 10px;
  height: 10px;
}

.registerPage .errorMsg.radios {
  margin-top: -20px;
  margin-bottom: 15px
}

.registerPage .errorMsg p{
  color: #cd201f;
  font-size: 0.875rem;
}

.registerPage .ui.button {
  margin-top: 10px;
  width: 65%;
  background-color: #26CB64;
  background-image: linear-gradient(to bottom right, #26CB64, #18d311);
  color: white;
  font-weight: lighter;
  border-radius: 0px;
}

.registerPage .ui.button:hover {
  background-color: #26CB64;
  background-image: linear-gradient(to bottom right, #26CB64, #18d311);
  color: white;
}

.registerPage .ui.button .icon{
  color: white !important;
}

/* BUTTON STYLES */

.icon.button {
  box-shadow: none !important;
}

.icon.button:hover .icon {
  color: #26CB64 !important;
}

.selectgroup-input:checked + .selectgroup-button {
  border-radius: 5px !important;
}

.selectgroup-input:not(:checked) + .selectgroup-button {
  border-radius: 5px !important;
}

.selectgroup-pills .selectgroup-button {
  width: 160px;
  font-size: 0.89rem;
}

.acceptButton {
  background-color: #fafafa !important;
  color: #26CB64 !important;
  font-weight: lighter !important;
  height: 30px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.acceptButton.white {
  background-color: white !important;
}

.acceptButton:hover {
  background-color: #26CB64 !important;
}

.acceptButton .icon{
  color: #26CB64 !important;
}

.acceptButton:hover .icon{
  color: white !important;
}

.cancelButton {
  background-color: #fafafa !important;
  color: #cb2626 !important;
  font-weight: lighter !important;
  height: 30px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.acceptButton.delete {
  color: #cb2626 !important;
}

.acceptButton.delete:hover {
  background-color: #cb2626 !important;
}

.cancelButton.delete {
  color: rgba(0,0,0,.87) !important;
}

.cancelButton.delete:hover {
  background-color: rgba(0,0,0,.87)!important;
}

.cancelButton:hover {
  background-color: #cb2626 !important;
}

.cancelButton .icon{
  color: white !important;
}


/* MODAL STYLES */

.modalSubmit {
  text-align: center;
}

.actions {
  background: #fafafa !important;
  border-radius: 0px !important;
  height: 50px !important;
  padding: 0.65rem 1rem !important;
}

.modalSubmit .acceptButton{
  margin-right: 100px !important;
}

.modal .header {
  background: #2b2a2a !important;
  border-radius: 0px !important;
  color: white !important;
  height: 50px !important;
  font-size: 1.2rem !important;
  text-align: center;
}

.modal {
  background: none !important;
  border-radius: 0px !important;
  position: relative !important;
  overflow: visible !important;
}

.modal .content{
  border-radius: 0px !important;
}

.xButton {
  background: none !important;
  float: right;
  margin-top: -18px !important;
  margin-right: -22px !important;
}

.icon.button.xButton:hover .icon {
  color: white !important;
}

.xButtonHeader {
  margin-left: 45px;
}

.ui.dimmer {
  background-color: rgba(0,0,0,.85) !important;
}

/* CANDIDATES SCREEN */

.card.thin {
  height: 90px;
}

.card.thin .card-body {
  padding-top: 0.8rem;
  padding-left: 30px;
}

#jobprofile .button {
  margin-top: 20px;
}

#jobprofile .form-label {
  margin-left: -10px;
}

/* MISC */

.formLabelLeft {
  text-align: left;
}

#skills .form-label {
  margin-left: -15px;
  margin-bottom: 10px;
}

#skills .col {
  margin-left: 130px !important;
}

.pageHeading {
  text-align: center; 
  padding: 20px;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.alert.fixed {
  position: fixed;
  width: 100%;
  z-index: 996;
}

.spacer {
  height: 50px;
}

/* CHAT */

.my-body {
  margin-top:100px;
}

/* search */

.search {
  border:1px solid rgb(210, 217, 241);
  height:40px;
  background-color: white;
}

.input-text-search {
  width:100%;
  font-size: 14px;
  margin-top:10px;
  border:1px solid rgb(210, 217, 241);
}

/* title */

.title {
  border:1px solid rgb(210, 217, 241);
  height:40px;
  background-color: white;
}

.title-text {
  text-align: center;
  font-size: 20px;
  margin-top:10px;
  font-weight: 900;
}

/* list */

.list {
  height:520px;
  border:1px solid rgb(210, 217, 241);
  white-space: nowrap;
  overflow: scroll;
  scrollbar-width: none;
}

.emp-list {
  list-style-type: none;
  padding:0;
  margin-left:-11px;
  margin-right:-12px;
}

.emp-item {
  
}

.button-text {
  margin-left: 25px;
  margin-bottom:10px;
  font-weight: bolder;
}

.my-button-list {
  width:100%;
  height:60px;
  margin:0;
  padding:0;
  text-align:left;
  background-color: transparent;
  border:1px solid rgb(210, 217, 241);
}

.last-update {
  text-align: right;
  margin-right:10px;
  font-size:10px;
  color:gray;
}

/* chat */

.chat-box {
  height:470px;
  border:1px solid rgb(210, 217, 241);
  background-color: white;
  overflow: scroll;
  scrollbar-width: none;
}

.message-list {
  list-style-type: none;
}

.message-Jobseeker {
  margin:15px 0;
  text-align:right;
  padding:5px;
  margin-right: 30px;
}

.message-Employer {
  width:40%;
}

.message-Jobseeker div:nth-child(1) {
  font-size:11px;
  opacity:0.9;
  margin-bottom:6px;
}

.message-Jobseeker div:nth-child(2) {
  float:right;
  background:#3e8e41;
  margin-left:450px;
  padding:8px 16px;
}

.message-Employer div:nth-child(1) {
  font-size:11px;
  opacity:0.9;
  margin-bottom:6px;
}

.message-Employer div:nth-child(2) {
  float:left;
  background:lightgray;
  padding:8px 16px;
}

.divider {
  width:100%;
  color:white;
}

/* input */

.text-box {
  height:50px;
  background-color: white;
  border:1px solid rgb(210, 217, 241);
}

.input-text {
  width:100%;
  font-size: 14px;
  margin-top:14px;
  border:1px solid rgb(210, 217, 241);
}

.my-button {
  height:60%;
  width:100%;
  overflow:hidden;
  background-color: #3e8e41;
  border: none;
  color: white;
  border-radius: 12px;
  transition-duration: 0.4s;
  margin-top:10px;
}

.my-button:hover {
  background-color:#4CAF50;
}

.my-button:active {
  background-color: #4CAF50;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* SITE WRAPPER - STRUCTURE */

.siteLogo {
  height: 70px;
  width: 100%; 
  background-image: url('./img/logo.png');
  background-size: cover;
}

.sidebar {
  background-color: #373B53 !important;
  width: 75px !important;
  padding: 0px !important;
  border: none !important;
  z-index: 999 !important;
}

.sitecontent {
  margin-left: 75px;
  margin-top: 70px;
}

/* SITE WRAPPER - TOP NAV */

.topNav {
  position:fixed;
  left:0;
  top:0;
  z-index: 998 !important;
  background-color: white;
  width: 100%; 
  height: 70px;
  padding-left: 120px;
}

.topNav .heading {
  font-size: 2.5rem;
  margin-top: 10px;
  float: left;
}

.topNav .accountInfo {
  float: right;
  margin-right: 120px;
  height: 20px;
  margin-top: 27px;
  color: #525961 !important;
}

.accountInfo .accountDropdown {
  display: inline-block;
  vertical-align: top;
}

.accountInfo .dropdown-item {
  color: #6e7687 !important;
  cursor: pointer;
}

.accountInfo .accountDropdown .dropdown {
  margin-left: -15px;
  text-decoration: underline;
}

.accountInfo .notifications {
  display: inline-block;
  margin-top: 3px;
  vertical-align: top;
}

.accountInfo .notifications a {
  color: #525961 !important;
}

.accountInfo .notifications .nav-unread {
  margin-top: -5px;
  left: 20px;
  background: #26CB64;
}

.accountInfo {
  font-size: 15px;
}

.verticalDivider {
  border-right: 1px solid #C9CED6;
  display: inline;
  margin-left: 40px;
  margin-right: 30px;
  vertical-align: top
}

/* SITE WRAPPER - MENU ITEMS */

.sidebar.menu .item .icon {
  float: none !important;
  height: 50px !important;
  margin: 0px !important;
  font-size: 20px !important;
  margin-top: 10px !important;
}

.wrapper .ui.sidebar.menu .item {
  border-radius: 5px !important;
  margin-top: 60px;
  height: 60px !important;
  text-align: center !important;
  width: 60px;
  margin-left: 7.5px;
}

.wrapper .ui.sidebar.menu .menuItems {
  margin-top: 180px;
}

.item:hover .icon {
  color: white !important;
}

.active .item .icon {
  color: #4caf4f46 !important;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #4CAF50;
}

.active .item {
  background-color: white !important;
}

/* SITE WRAPPER - LOGOUT BUTTON */

.logout {
  height: 70px;
  width: 100%; 
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #494E67;
  text-align: center;
  color: white;
}

.logout .icon {
  margin-top: 25px !important;
  font-size: 20px;
}

.logout .icon:hover {
  color: white !important;
  cursor: pointer;
}



